body {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #581679;
  background: radial-gradient(
    circle,
    rgb(185, 174, 196) 0%,
    rgb(154, 104, 204) 89%,
    rgb(138, 94, 191) 100%
  );
}

.grid {
  height: 400px;
  width: 200px;
  background-color: #f2eaf4;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  box-sizing: border-box;
  background-color: #81da2e;
  border: 1px groove rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.mini-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2eaf4;
  border-radius: 5px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 30px auto;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 10px #581679;
}

h1 {
  text-shadow: 2px 2px 2px white;
}
